<main class="home">
    <header>
        <h1><a href="{{organization.url}}" target="_blank">{{organization.name}}</a></h1>
        <p>{{organization.description}}</p>
    </header>

    <form id="form" action="/" method="post">
        <select id="year" name="year">
            <option value="2122"{{#ifCond year "2122"}} selected{{/ifCond}}>2021-2022</option>
            <option value="2021"{{#ifCond year "2021"}} selected{{/ifCond}}>2020-2021</option>
            <option value="1920"{{#ifCond year "1920"}} selected{{/ifCond}}>2019-2020</option>
            <option value="1819"{{#ifCond year "1819"}} selected{{/ifCond}}>2018-2019</option>
        </select>
        <input type="submit" class="hide"></input>
    </form>
    
    <section>
        {{#each repositories}}
                <a href="/{{name}}">
                    <h3>{{name}}</h3>
                    <p>{{description}}</p>
                    <span>
                        <picture>
                            <source srcset="/images/forks_icon_lm.svg" media="(prefers-color-scheme: light)">
                            <img src="/images/forks_icon_dm.svg"/>
                        </picture>{{forkCount}}
                    </span>
                </a>
        {{/each}}
    </section>
</main>