<main>
    {{#each projects}}
        <section>
            <p>{{name}}</p>
            <p>{{forkCount}}</p>
            {{!-- <p>{{node.description}}</p> --}}
            {{!-- <p>{{node.homepageUrl}}</p> --}}
            {{!-- <p>{{node.url}}</p> --}}
        </section>
    {{/each}}
</main>