<main>
    <header>
        <h1><a href="{{repository.url}}" target="_blank">{{repository.name}}</a></h1>
        <p>{{repository.description}}</p>
    </header>

    {{#each forks}}
        <section>
            <p><a href="{{url}}" target="_blank">{{name}}</a></p>
            <p><a href="{{owner.url}}" target="_blank">{{owner.login}}</a></p>
            <img src="{{owner.avatarUrl}}" alt="{{owner.login}}">
        </section>
    {{/each}}
</main>